node_modules
dist
.env
.env.example
.env.local
.env.*.local
.git
.gitignore
README.md
.DS_Store
coverage
.jest
.vscode
.idea
data/
docker-compose.yml
Dockerfile*
.dockerignore
.eslintignore
.prettierignore
*.log
npm-debug.log*